# Required
AIDI_API_TOKEN=

# Optional (default: https://app.ausbildung-in-der-it.de)
# AIDI_HOST_URL=http://localhost:8000
# AIDI_HOST_URL=https://staging.ausbildung-in-der-it.de
# AIDI_HOST_URL=https://app.ausbildung-in-der-it.de
